{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div{attributes -> f:format.raw()}>
<div id="{node.identifier}">
	{carouselItems -> f:format.raw()}
</div>
</div>
<script type="application/javascript">
	$(document).ready(function(){
		if(!$('body').hasClass('neos-backend')){
			var config = {owlConfig -> f:format.json() -> f:format.raw()};
            config.responsive = {};
            <f:for each="{devices}" as="device">
                config.responsive["{device.responsive}"] = {};
                config.responsive["{device.responsive}"].items = {device.items};
            </f:for>

			var owlIdent = '#{node.identifier}'

			$( owlIdent + " .owl-carousel").owlCarousel(config);
		}
	});
</script>