{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div{attributes -> f:format.raw()}>
	<div id="{node.identifier}">
		{carouselItems -> f:format.raw()}
	</div>
</div>
<script type="application/javascript">
	<![CDATA[
	$(document).ready(function(){
		if(!$('body').hasClass('neos-backend')){
			var config = {slickConfig -> f:format.json() -> f:format.raw()};

			$("#]]>{node.identifier}<![CDATA[ .owl-carousel").owlCarousel(config);

			$("#]]>{node.identifier}<![CDATA[ .owl-carousel").owlCarousel({

				autoPlay: 3000, //Set AutoPlay to 3 seconds
				stopOnHover: true,

				items : ]]>{f:if(condition: '{items} > 0', then: items, else: '1')}<![CDATA[,
				itemsDesktop : [1199,]]>{f:if(condition: '{itemsDestop} > 0', then: items, else: '1')}<![CDATA[],
				itemsDesktopSmall : [979,]]>{f:if(condition: '{itemsTablet} > 0', then: items, else: '1')}<![CDATA[],
				itemsMobile : [767,]]>{f:if(condition: '{itemsMobile} > 0', then: items, else: '1')}<![CDATA[],

				navigation : ]>{navigation}<![CDATA[],
				singleItem : ]>{singleItem}<![CDATA[],
				pagination : ]>{pagination}

			});
		}
	});]]>
</script>