{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div{attributes -> f:format.raw()}>
<div id="{node.identifier}">
	{carouselItems -> f:format.raw()}
</div>
</div>
<script type="application/javascript">
	if (typeof owlGlobalConfigs == 'undefined') {
		owlGlobalConfigs = []
	}

	var owl = {};
	owl.config = {owlConfig -> f:format.json() -> f:format.raw()};
	owl.config.responsive = {};
    owl.config.navText = ['{navTextPrev -> f:format.htmlentitiesDecode()}','{navTextNext -> f:format.htmlentitiesDecode()}'];
	<f:for each="{devices}" as="device">
		owl.config.responsive["{device.responsive}"] = {};
		owl.config.responsive["{device.responsive}"].items = {device.items};
	</f:for>

	owl.ident = '#{node.identifier}';

    owlGlobalConfigs.push(owl);
</script>